{
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "env": {
        "node": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ]
}
